body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* NAVBAR */
nav {
    background: #0d1335;
    padding: 20px 0px;
    text-align: center;
    height:200px;
 
}

.logo {
    color: #818d91;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    letter-spacing: 1px;
   padding:20px;
}
/* Top 3 Links */
.top-links {
    margin-top: 10px;
    padding: 0 50px;
}

.top-links a {
    text-decoration: none;
    font-size: 18px;
    color: #e2eaf6;
    font-weight: 600;
    margin: 0 12px;
    padding: 8px 14px;
   border-radius: 6px;
    border: 2px solid #1a2537;
    transition: 0.3s;
}

.top-links a:hover {
    background: #1a2537;
    color: white;
    transform: scale(1.08);
}
.menu{
    padding: 20px 20px 20px 20px;
    padding-top: 40px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    
}

.menu a:hover {
    color: #633f5a;
}

/* SECTIONS */
section {
    max-width: 1000px;
    margin: 40px auto;
    background: rgb(177, 182, 182);
    padding: 30px;
    border-radius: 12px;
}

h2 {
    color: #222;
    margin-bottom: 15px;
}

/* HOME SECTION */
.home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight {
    color: #393346;
    font-weight: bold;
}

.profile-img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid rgb(177, 182, 182);
    object-fit: cover;
}

/* SKILLS */
.skills span {
    display: inline-block;
    background: #0d1335;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    margin: 6px;
}

/* FOOTER */
footer {
    text-align: center;
    background: #0d1335;
    color: white;
    padding: 20px;
    margin-top: 40px;
}